@model IReadOnlyCollection<CalendarViewModel>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Calendar</th>
      <th>State</th>
      <th>Last Sync</th>
      <th style="width: 85px;"></th>
    </tr>
  </thead>

  <tbody>
    @if (!Model.Any())
    {
      <tr class="text-center">
        <td colspan="5" scope="row">Your calendars will appear here. Just enter a URL in the input above to get started!</td>
      </tr>
    }

    @foreach (CalendarViewModel row in Model)
    {
      @Html.Partial("_IndexRow", row)
    }
  </tbody>
</table>