@{
  ViewData["Title"] = "Privacy Policy";
  ViewData["HideHeaderNav"] = true;
  ViewData["HideFooter"] = true;
}

<div class="jumbotron">
  <h1>Privacy Policy</h1>

  <h2>What information do we collect?</h2>
  <p class="lead">
    When you log into the website we collect your Google ID, full name, and email address.
    When you synchronize a calendar we collect data from your Google Calendar, data from your iCalendar URL, and we log usage metrics.
    That same information is recollected every time we resynchronize a calendar, which may be as frequent as every minute.
    You can stop synchronization at any time using the website.
    When you use the website, regardless of whether you've logged in, we automatically log your IP address and browser HTTP headers.
  </p>

  <h2>How do we use the information?</h2>
  <p>
    We persist your Google ID and use it to recognize you when you return to the website.
    We also persist your full name and email address and use them to visually indicate that you're logged into the website.
    We use data from your Google Calendar and data from your iCalendar URL for synchronization processing.
    We access that data every time we synchronize a calendar, which may be as frequent as every minute.
    We don't access calendar data for calendars that you aren't synchronizing.
    You can block access to calendar data at any time by stopping synchronization through the website.
    We don't persist your calendar data.
    It's destroyed after synchronization and recollected the next time we perform synchronization.
    We use your IP address and HTTP headers for troubleshooting only.
    They're retained for a period of up to 30 days.
  </p>

  <h2>What information do we share?</h2>
  <p>
    We don't share any of your information.
    Hosting costs are covered by a monthly Microsoft Azure credit benefit provided by a Visual Studio subscription.
  </p>
</div>